@{
  Layout = "_Layout";
}

<h1>Salon 206</h1>

<h3>@Model.GetFirstName() @Model.GetLastName()</h3>
<p>Stylist: @Model.GetStylist()</p>
<p>Phone: @Model.GetPhone()</p>
<p>Email: @Model.GetEmail()</p>

<a href="/">Home</a>
<a href="">Update Client Details</a>
